name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  byte-compile:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        emacs-version: ['28.1', '29.4', '30.1']
    steps:
      - uses: actions/checkout@v4
      - uses: purcell/setup-emacs@master
        with:
          version: ${{ matrix.emacs-version }}
      - name: Byte-compile
        run: |
          emacs -Q --batch \
            -L . \
            --eval '(setq byte-compile-error-on-warn t)' \
            -f batch-byte-compile \
            vortel-lsp-util.el \
            vortel-lsp-config.el \
            vortel-lsp-jsonrpc.el \
            vortel-lsp-transport.el \
            vortel-lsp-registry.el \
            vortel-lsp-client.el \
            vortel-lsp.el

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        emacs-version: ['28.1', '29.4', '30.1']
    steps:
      - uses: actions/checkout@v4
      - uses: purcell/setup-emacs@master
        with:
          version: ${{ matrix.emacs-version }}
      - name: Run ERT tests
        run: |
          emacs -Q --batch \
            -L . \
            -L test \
            -l vortel-lsp-tests \
            -f ert-run-tests-batch-and-exit
